app/lib/
app/test/
app/.dart_tool/
app/.idea/
app/*.iml
app/flutter_*.log
app/.flutter-plugins*
app/build/
app/ohos/.hvigor/
app/ohos/oh_modules/
app/ohos/entry/oh_modules/
app/ohos/entry/build/
app/ohos/entry/src/main/resources/rawfile/flutter_assets/
app/ohos/entry/src/main/ets/plugins/GeneratedPluginRegistrant.ets
app/ohos/local.properties
app/ohos/signing/
*.p12
*.cer
*.p7b
*.csr
output/
